@use 'variaveis';

.event {
    padding: 80px 0;
    background-color: variaveis.$corDoFundo;

    h2 {
        color: variaveis.$corFulano;
    }

    &--local {
        color: variaveis.$corDoTextoHero;

    }

    &--atividades {
        color: variaveis.$corDoTextoHero;
    }

    &--culinaria {
        color: variaveis.$corDoTextoHero;
    }

    &--image-left {
        .container {
            flex-direction: row-reverse;
        }
    }

    .container {
        display: flex;
        gap: 40px;
    }

    &__image {
        border-radius: 12px;
        max-width: 360px;
    }

    &__detail {

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }

        &__description {
            line-height: 22px;

        }

        &__icon{
            margin-top: 8px; 
            max-width: 120px;
        }
    }

    @media (max-width:768px) {
        .container {
            display: block;
        }

        &__image {
            width: 100%;
        }

        &__detail {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}