@use 'variaveis';
@use 'hero';
@use 'event';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Deltarune;
    list-style: none;
    width: 100%;
}

@font-face {
    font-family: 'Deltarune';
    src: url(../midia/font/undertale-deltarune-text-font-extended.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 640px) {
        max-width: 80%;
    }
}
